body {
   padding-top: 60px;
}
#buttons, #time-left, #main-board {
   margin: 10px;
}
#time-left {
   vertical-align: middle;
   font-size: 2em;
   font-weight: bold;
}
.hidden-board input {
   visibility: hidden;
}
.board table {
   border: 3px solid;
}
.board input {
   color: #135d95;
   width: 55px;
   height: 55px;
   border: none;
   font-size: 2.7em;
   text-align: center;
   padding: 2px;
   margin: 1px;
   border-radius: 0;
}
.board input.write-field {
   color: black;
   background-color: #e0eeff;
}
.board .highlighted input {
   background-color: #dfd;
}
.board .conflicted input {
   color: #f33;
}
.board td.left-bordered {
   border-left: 3px solid;
}
.board td.top-bordered {
   border-top: 3px solid;
}
